/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.c_title{
		margin: 10px 0 15px;
		font-size: 19px;
		line-height: 30px;
	}
	/*Article section start*/
	.article{
		padding: 70px 0;
	}
	.a_paragraph{
		margin-bottom: 30px !important;
		text-align: justify;
	}
	/*Article section end*/

	/*Blog start*/
	.blog{
		padding: 0 0 80px;
	}
	.blog_content{
		margin-top: 40px;
	}
	.b_text{
		text-align: justify;
	}
	/*Blog end*/

	/*Newsletter start*/
	.news_box {
	    width: 100%;
	}
	.signup{
		margin-bottom: 40px;
	}
	.signup_form input {
	    width: 100%;
	}
	.signup_form {
	    width: 240px;
	}
	.signup_form button {
	    top: 10px;
	    right: -5px;
	}
	/*Newsletter end*/

	/*Blog 2 start*/
	.load{
		margin: 70px 0 10px;
	}
	.btn_load {
	    width: 100px;
	    height: 45px;
	    font-size: 16px;
	}
	/*Blog 2 end*/

	/*Footer start*/
	.footer_left,.footer_right{
		float: none !important;
		text-align: center;
	}
	/*Footer end*/
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.c_title{
		margin: 10px 0 20px;
		font-size: 26px;
		line-height: 35px;
	}
	/*Article section start*/
	.article{
		padding: 70px 0;
	}
	.a_paragraph{
		margin-bottom: 30px !important;
		text-align: justify;
	}
	/*Article section end*/

	/*Blog start*/
	.blog{
		padding: 0 0 80px;
	}
	.blog_content{
		margin-top: 40px;
		padding: 0 55px;
	}
	.c_title{
		margin: 10px 0 15px;
		font-size: 22px;
		line-height: 25px;
	}
	/*Blog end*/

	/*Newsletter start*/
	.signup{
		margin-bottom: 40px;
	}
	.signup_form input {
	    width: 100%;
	}
	.signup_form {
	    width: 262px;
	}
	.signup_form button {
	    top: 10px;
	    right: -5px;
	}
	/*Newsletter end*/

	/*Blog 2 start*/
	.load{
		margin: 70px 0 10px;
	}
	.btn_load {
	    width: 110px;
	    height: 45px;
	    font-size: 17px;
	}
	/*Blog 2 end*/

	/*Footer start*/
	.footer_left,.footer_right{
		float: none !important;
		text-align: center;
	}
	/*Footer end*/
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*Header start*/
	header{
		padding: 20px 0;
	}
	.menu{}
	.menu ul{}
	.menu ul li{}
	.menu ul li a{
		margin: 5px 0;
		float: right;
	}
	.menu ul li:last-child a{
		margin-right: 0;
	}
	/*Header end*/

	/*Article section start*/
	.article{
		padding: 80px 0 100px;
	}
	.a_paragraph{
		margin-bottom: 35px !important;
		text-align: justify;
	}
	/*Article section end*/

	/*Blog start*/
	.blog{
		padding: 20px 0 100px;
	}
	.blog_content{
		margin-top: 30px;
	}
	.c_title{
		margin: 10px 0 15px;
		font-size: 22px;
		line-height: 25px;
	}
	/*Blog end*/

	/*Newsletter start*/
	.signup{
		margin-bottom: 45px;
	}
	.signup_form {
	    width: 262px;
	}
	.signup_form input {
	    width: 100%;
	}
	.signup_form button {
	    top: 10px;
	    right: -4px;
	}
	/*Newsletter end*/

	/*Blog 2 start*/
	.load{
		margin: 80px 0 20px;
	}
	.btn_load {
	    width: 110px;
	    height: 45px;
	    font-size: 17px;
	}
	/*Blog 2 end*/

	/*Footer start*/
	.footer_right ul li a{
		padding: 0 10px;
	}
	/*Footer end*/
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	/*Newsletter start*/
	.signup_form {
	    width: 365px;
	}
	.signup_form input {
	    width: 100%;
	}
	.signup_form button {
	    top: 10px;
	    right: -4px;
	}
	/*Newsletter end*/

	/*Blog 2 start*/
	.load{
		margin: 100px 0 30px;
	}
	.btn_load {
	    width: 140px;
	    height: 50px;
	    font-size: 18px;
	}
	/*Blog 2 end*/
}

/*Extra large devices (desktops, 992px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
	/*Blog start*/
	.c_text{
		padding-right: 24px;
	}
	/*Blog end*/

	/*Newsletter start*/
	.signup_form {
	    width: 405px;
	}
	/*Newsletter end*/

	
}

/*Extra extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) {
	/*Newsletter start*/
	.signup_form {
	    width: 475px;
	}
	.signup_form input {
	    width: 75%;
	}
	.signup_form button {
	    top: 10px;
	    right: 55px;
	}
	/*Newsletter end*/
}