/*Common start*/
body{
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	font-weight: 400;
	color: #626262;
	line-height: 24px;
}
/*Common end*/

/*Navbar Start*/
.navbar{
	padding: 25px 0 35px;
}
.nav-item{
	margin: 0 40px;
	text-transform: uppercase;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	transition: .3s ease-in-out;
}
.nav-item:last-child{
	margin-right: 0;
}
.nav-item:hover{
	border-top: 1px solid #626262;
	border-bottom: 1px solid #626262;
}
/*Navbar End*/

/*Banner Section Start*/
.banner{}
.b_content{}
.b_content img{
	width: 100%;
}
/*Banner Section End*/

/*Article Section start*/
.article{
	padding: 70px 0 40px;
}
.wrapper{}
.a_content{}
.c_tag{
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #b4ad9e;
	text-transform: uppercase;
}
.c_title,.card-title{
	margin: 10px 0 18px;
	font-size: 30px;
	font-weight: 400;
	line-height: 40px;
}
.c_text,.card-text{
	margin: 0;
}
.c_paragraph{
	margin-bottom: 40px;
}
/*Article Section end*/

/*Blog Section start*/
.blog{
	padding: 20px 0 90px;
}
.blog_content{
	overflow: hidden;
}
.card{
	margin-top: 50px;
	border: none;
	border-radius: 0;
}
.card img{
	margin-bottom: 15px;
}
.card-body{
	padding: 0;
}
.single_blog:nth-child(even){
	margin-left: 6%;
}
.blog_image{
	margin-bottom: 15px;
}
.blog_image img{
	width: 100%;
}
/*Blog Section end*/

/*Newsletter Section start*/
.news{
	background-color: #f0f0f0;
}
.news_box{
	margin: 0 auto;
	padding: 70px 0;
	width: 60%;
	text-align: center;
}
.signup{
	margin-top: 0;
	margin-bottom: 50px;
	color: #333333;
}
.signup_form{
	position: relative;
	margin: 0 auto;
	width: 400px;
}
.signup_form input{
	padding-right: 55px;
	width: 350px;
	height: 45px;
	font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: #626262;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}
.signup_form input:focus{
	outline: 0;
}
.signup_form button{
	position: absolute;
	top: 8px;
	right: 20px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.signup_form button:focus{
	outline: 0;
}
.signup_form button img{}
/*Newsletter Section end*/

/*Blog Section 2 start*/
.blog2{}
.load{
	margin: 150px 0 50px;
	text-align: center;
}
.load button{
	width: 160px;
    height: 60px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 400;
    color: #626262;
    background-color: transparent;
    border: 1px solid #626262;
    border-radius: 0px;
    cursor: pointer;
    transition: .33s ease-in-out;
}
.load button:hover{
	background-color: #626262;
	color: #ffffff;
}
/*Blog Section 2 end*/

/*Footer Section start*/
footer{
	padding: 15px 0 45px;
	background-color: #f0f0f0;
}
.f_left{
	width: 50%;
	float: left;
}
.f_left ul{
	padding: 0;
	float: left;
}
.f_left ul li{
	float: left;
	list-style: none;
}
.f_left ul li a{
	margin: 0 10px;
	color: #000000;
	text-decoration: none;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	transition: .33s ease-in-out;
}
.f_left ul li a:first-child{
	margin-left: 0;
}
.f_left ul li a:hover{
	border-top: 1px solid #626262;
	border-bottom: 1px solid #626262;
}
.f_right{
	width: 50%;
	float: right;
}
.f_right span{
	color: #000000;
}
.f_right ul{
	padding: 0;
	float: right;
}
.f_right ul li{
	float: left;
	list-style: none;
}
.f_right ul li a{
	padding: 0 10px;	
}
.f_right ul li:last-child a{
	padding-right: 0;
}
.f_right ul li a img{
	padding: 5px;
	border: 1px solid transparent;
}
.f_right ul li a img:hover{
	border: 1px solid #626262;
}
/*Footer Section end*/